table {
    border-collapse: separate;
    border-spacing: 10px 10px;
    
}
.tabletop{
    width:100%;
}

.tablebottom1{
    width:50%;
    float:left;
}

.tablebottom2{
    width:50%;
    float:left;
}


td {
    border: 1px solid black;
}

.bodytd{
    width:40%;
    margin: auto;
}


.tdleft
{
    float: left;
    padding-left: 15px;
}

.tdright
{
    float: right;
    padding-right: 15px;
}

.headtr{
    background-color: lightgreen;
}

.divleft{
    width: 50%;
    margin: auto;
    
}


.divright{
    width: 50%;
    margin: auto;
}

.bodytdleft{
    background-color: lightblue;
}

.bodytdright{
    background-color: lightblue;
}
.topleft{
    float: left;
    padding-left: 15px;
}

.topright{
    float: right;
    padding-right: 15px;
}

.topdiv::after{
 clear: both; 
 display: table; 
 content: "";
}

.topdiv {
    background-color: lightgreen;
}

